<h1>チャットリスト</h1>

<div class="row">
  <% if @users.blank? %>
    <p>ユーザーがあなたの病院に支援表明するとチャットできるようになります</p>
  <% else %>
    <ul class="list-group">
      <% @users.each do |user| %>
        <li class="list-group-item">
          <a href="/<%= user.id %>/chatroom"><%= user.name %></a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>