<% if @items.present? %>
  <h3>検索結果</h3>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card img-thmubnail">
        <% @items.first(10).each do |item| %>
          <% if item['mediumImageUrls'].present? %>
            <img src="<%= item['mediumImageUrls'][0] %>" class="card-img-top" alt="画像" >
          <% else %>
            <p>No Image</p>
          <% end %>
          <%= item.name %>
          <%= item.price %>円
          <div class="buttons">
            <a href="<%= item['itemUrl'] %>" target="_blank">
              <button class="btn btn-primary">詳細</button>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
