<div>
  <h1>必要物資検索画面</h1>
</div>
<div id="search-box">
  <%= form_tag('/search', method: :get) do %>
    <%= text_field_tag :item, "", id: "item_search", name: "keyword", placeholder: "キーワードを打ち込んでください", class: "form-control" %><button title="検索" type="submit" class="btn btn-primary">検索</button>
  <% end %>
</div>

<%= render 'search_result' %>
