<footer class="footer">
  <small>
    <div>
      Copyright &copy; 2020 Nakayama Yuta All Rights Reserved.
    </div>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>